<div id="drawer">
    <div id="drawer-company">
        <div id="drawer-logo">
            <img src="assets/img/logo.jpeg" alt="Logo">
        </div>
        <div id="drawer-title">
            APT Education
        </div>
    </div>
    <div id="drawer-menu">
        <a class="active" href="index.html"><i class="material-icons">home</i><span>Dashboard</span></a>
        <a href="student.html"><i class="material-icons">person</i><span>Student</span></a>
        <a href="documents.html"><i class="material-icons">assignment</i><span>Documents</span></a>
    </div>
    <div id="drawer-setting">
        <a href="settings.html">
            <i class="material-icons">settings</i>
        </a>
    </div>
</div>