<!DOCTYPE html>
<html lang="en">

<head>{{> header}}</head>

<body>
    <div>{{> search_bar }}</div>
    <div>{{> drawer }}</div>
    <div id="main">
        <div id="add-student">
            <button>Add Student</button>
        </div>
        <div id="list-student">
            <table>
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Address</th>
                    </tr>
                </thead>
                <tbody>
                    {{#student}}<tr>
                        <td>{{name}}</td>
                        <td>{{address}}</td>
                    </tr>{{/student}}
                </tbody>
            </table>
        </div>
    </div>
</body>

</html>